.main-menu.row
  .col-xs-12
    h3 fhir path demo
.container
  br
  .row
    .col-xs-12
      input.form-control(placeholder="fhir path" ng-model="path" ng-change="update()")
      br
  .row
    .col-xs-6
      textarea.fh.form-control(ng-model="resource" ui-codemirror="codemirrorConfig")
    .col-xs-6
      textarea.fh.form-control(ng-model="result" ui-codemirror="codemirrorConfig")